Clase8/SolReniecServices/ReniecServices/App_WebReferences/RefJava/countries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getCountryRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCountryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="country" type="tns:country" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="country">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="population" type="xs:int" />
          <xs:element name="capital" type="xs:string" />
          <xs:element name="currency" type="tns:currency" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="currency">
        <xs:restriction base="xs:string">
          <xs:enumeration value="GBP" />
          <xs:enumeration value="EUR" />
          <xs:enumeration value="PLN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getCountryResponse">
    <wsdl:part name="getCountryResponse" element="tns:getCountryResponse" />
  </wsdl:message>
  <wsdl:message name="getCountryRequest">
    <wsdl:part name="getCountryRequest" element="tns:getCountryRequest" />
  </wsdl:message>
  <wsdl:portType name="CountriesPort">
    <wsdl:operation name="getCountry">
      <wsdl:input name="getCountryRequest" message="tns:getCountryRequest" />
      <wsdl:output name="getCountryResponse" message="tns:getCountryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCountry">
      <soap:operation soapAction="" />
      <wsdl:input name="getCountryRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCountryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountriesPortService">
    <wsdl:port name="CountriesPortSoap11" binding="tns:CountriesPortSoap11">
      <soap:address location="http://localhost:8085/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>